mixin logotype
  +b.A.logotype(href="index.html" title=global.description)
    +e.DIV.img
      img(src=global.paths.images+'logotype.svg' alt="ZHRV")
    +e.DIV.text
      p Первый научно-развлекательный детский клуб
