include ../../slider/index.pug

mixin section-slider
  +b.SECTION.section._slider
    +e.main
      +b.monitor
        +slider({
          slider: 'slider'
        })
          +e.LI.slide(style="background-image: url('pictures/monitor-slide.jpg');")
