include ../../calculator/index.pug

mixin section-calculator
  +b.SECTION.section._calc
    +e.main
      +e.title._calc
        span Ближайшие мероприятия
      +e.text
        p. 
          <strong>23 февраля 12:00-16:00</strong> - Аниматор<br>
          <strong>24 февраля 16:00</strong> - Бесплатный мастер-класс: игрушки из солёного теста<br>
          <strong>28 февраля 14:00</strong> - Бесплатный мастер-класс по шаромоделированию<br>
          <strong>2 марта 17:00</strong> - Творческий мастер-класс от хобби центра Hand Mad (стоимость участия - 50Р)<br>
          <strong>7 марта 14:00</strong> - Мастер-класс от языкового центра «ПРАЙМ» - <br>поделки из термомозайки (стоимость участия - 50Р)
      +e.title._calc2
        span День рождения
      
      +calculator
    
