mixin section-gallery
  +b.SECTION.section._gallery
    +e.title._gallery
      +e.title-bg
      span Галерея
    +e.image
      img(src="img/kid-gallery.svg" alt="")
    +e.gallery
      +b.gallery
        +e.UL.list
          +e.LI.item
            +b.A.image(href="https://picsum.photos/id/599/1200/600" data-fancybox="gallery" data-caption="Изображение 1")
              +e.DIV.preview
                img(src="https://picsum.photos/id/599/220/145" alt="")
          +e.LI.item
            +b.A.image(href="https://picsum.photos/id/244/1200/600" data-fancybox="gallery" data-caption="Изображение 2")
              +e.DIV.preview
                img(src="https://picsum.photos/id/244/220/145" alt="")
          +e.LI.item
            +b.A.image(href="https://picsum.photos/id/264/1200/600" data-fancybox="gallery" data-caption="Изображение 3")
              +e.DIV.preview
                img(src="https://picsum.photos/id/264/220/145" alt="")
                
          +e.LI.item
            +b.A.image(href="https://picsum.photos/id/688/1200/600" data-fancybox="gallery" data-caption="Изображение 4")
              +e.DIV.preview
                img(src="https://picsum.photos/id/688/220/145" alt="")
          +e.LI.item
            +b.A.image(href="https://picsum.photos/id/687/1200/600" data-fancybox="gallery" data-caption="Изображение 5")
              +e.DIV.preview
                img(src="https://picsum.photos/id/687/220/145" alt="")
          +e.LI.item
            +b.A.image(href="https://picsum.photos/id/437/1200/600" data-fancybox="gallery" data-caption="Изображение 6")
              +e.DIV.preview
                img(src="https://picsum.photos/id/437/220/145" alt="")

          +e.LI.item
            +b.A.image(href="https://picsum.photos/id/645/1200/600" data-fancybox="gallery" data-caption="Изображение 7")
              +e.DIV.preview
                img(src="https://picsum.photos/id/645/220/145" alt="")
          +e.LI.item
            +b.A.image(href="https://picsum.photos/id/865/1200/600" data-fancybox="gallery" data-caption="Изображение 8")
              +e.DIV.preview
                img(src="https://picsum.photos/id/865/220/145" alt="")
          +e.LI.item
            +b.A.image(href="https://picsum.photos/id/1025/1200/600" data-fancybox="gallery" data-caption="Изображение 9")
              +e.DIV.preview
                img(src="https://picsum.photos/id/1025/220/145" alt="")
