mixin section-welcome
  +b.SECTION.section._welcome
    +e.top-buttons
      +b.A.button-reserve(href="#calculator")
        span <strong>Забронировать</strong> сейчас!
      +b.A.button-calc(href="#calculator")
        span <strong>Посчитать</strong> день<br>рождения
    +e.side
      +logotype
      +b.navigator
        +e.UL.list
          +e.LI.item
            a(href="#room1") Детская комната
          +e.LI.item
            a(href="#room2") Игровые автоматы
          +e.LI.item
            a(href="#room3") Виртуальная <br>реальность
      +e.bottom-link
        +b.say-block
          span самое интересное!
    +e.main._with-side
      +b.girl
        img(src="img/girl.svg" alt="Девушка")
          
    +e.room._pink(data-room="#room1")
      +e.side
        +logotype-pink
        +b.BUTTON.back
          span Детская комната
        +e.content
          +e.text-content
            p. 
              <strong>- Аниматоры</strong> с захватывающими квестами и играми;<br>
              <strong>- Мастер-классы</strong> на различные темы;<br>
              <strong>- Сухой бассейн,</strong> с мостами и трамплинами; <br> 
              <strong>- Кинетическая песочница,</strong> с 3D-моделированием<br>
              <strong>- Интерактивная стена,</strong> с сенсорными играми!
          +e.offers
            +e.offers-block
              +b.offer._pink
                +e.title
                  span Пн, Вт, Ср, Чт, Пт
                +e.content
                  +e.UL.list
                    +e.LI.item
                      span <strong>1 час</strong>
                      span 200₽
                    +e.LI.item
                      span <strong>безлимит</strong>
                      span 300₽
                  span (дети до 1 года - 100₽)
          
            +e.offers-block
              +b.offer._blue
                +e.title
                  span Сб, Вс - выходные
                +e.content
                  +e.UL.list
                    +e.LI.item
                      span 1 час
                      span 250₽
                    +e.LI.item
                      span безлимит
                      span 400₽
            +e.offers-block
              +e.text._offer
                p. 
                  Многодетным семьям<br> 
                  и детям с ограниченными возможностями 
                  <span><strong>скидка 50%</strong></span>
                  (при предъявлении документа)
                  
          +e.text._offer._offer-l
            p. 
              <strong>- День рождения!</strong> <b>Идеальное место для праздника вашего ребёнка!</b><br>
              игровая зона на 6 гостей и праздничная комната!
          
          +e.offers
            +e.offers-block
              +b.offer._pink-full
                +e.content
                  p будние <span>1000₽/час</span>
          
            +e.offers-block
              +b.offer._blue-full
                +e.content
                  p выходные <span>1500₽/час</span>
                      
      +e.main._with-side
        +b.girl._pink
          img(src="img/girl.svg" alt="Девушка")
            
    +e.room._green(data-room="#room2")
      +e.side
        +logotype-stars
        +b.BUTTON.back
          span Игоровые автоматы
        +e.content
          +e.text-content
            p. 
              <strong>- Целое семейство игровых автоматов</strong><br>
                к вашему выбору 33 шт,<br>
              <strong>- Играй один или сразись с друзьями на приставке!</strong><br>
                футбольный матч, поединок в Mortal Kombat или драйв 
                 автосимуляторов?<br>
              <strong>- Крутые виражи на автосимуляторе XD-motion</strong><br>
                кабина поворачивается вслед за виртуальным авто
          +e.tickets
            +b.ticket._yellow
              span <strong>40₽</strong>
            +b.ticket._blue
              span <strong>50₽</strong>
            +b.ticket._dark-blue
              span <strong>60₽</strong>
                
      +e.main._with-side
        +b.man
          img(src="img/man.svg" alt="Player")
            
    +e.room._blue(data-room="#room3")
      +e.side
        +logotype-blue
        +b.BUTTON.back
          span Виртуальная реальность
        +e.content._fix
          +e.text-content
            p. 
              <strong>- Попробуйте себя в новом измерении!</strong><br>
                десяток игр VR в вашем распоряжении<br>
              <strong>- Хотите почуствовать на все 100% любимый музыкальный трек?</strong><br>
                Beatsaber именно для вас, разрезайте мечами пространство
                под избранный бит!<br>
              <strong>- Можно играть вдвоём!</strong><br>
              
          +e.tickets
            +b.ticket._yellow._time
              span 7 минут <strong>150₽</strong>
            +b.ticket._blue._time
              span 14 минут <strong>300₽</strong>
              
      +e.main._with-side
        +b.girl._vr
          img(src="img/girl-vr.svg" alt="Девушка-vr")
      
