mixin counter
  +b.counter
    +e.controls
      +e.BUTTON.button._minus(data-before="час") -
      +b.SPAN.count__time 2
      +e.BUTTON.button._plus(data-before="час") +
    +e.summary(data-before="стоимость")
      span 2000 Р
